[submodule "thirdparty/nanopb"]
	path = thirdparty/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "rebuilt/include/lvgl"]
	path = rebuilt/include/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "motor/lvgl"]
	path = motor/lvgl
	url = https://github.com/lvgl/lvgl.git
